<ttFont>
    <head>
        
    
        <!-- Most of this table will be recalculated by the compiler -->
        
    
        <tableVersion value="1.0"/>
        
    
        <fontRevision value="1.002"/>
        
    
    
        <magicNumber value="0x5f0f3cf5"/>
        
    
        <flags value="00000000 00000011"/>
        
    
        <unitsPerEm value="1000"/>
        
    
    
    
        <xMin value="-1564"/>
        
    
        <yMin value="-288"/>
        
    
        <xMax value="630"/>
        
    
        <yMax value="1144"/>
        
    
        <macStyle value="00000000 00000000"/>
        
    
        <lowestRecPPEM value="3"/>
        
    
        <fontDirectionHint value="2"/>
        
    
        <indexToLocFormat value="0"/>
        
    
        <glyphDataFormat value="0"/>
        
  
    </head>
    <hhea>
        
    
        <tableVersion value="0x00010000"/>
        
    
        <ascent value="960"/>
        
    
        <descent value="-240"/>
        
    
        <lineGap value="0"/>
        
    
        <advanceWidthMax value="600"/>
        
    
        <minLeftSideBearing value="-1564"/>
        
    
        <minRightSideBearing value="-80"/>
        
    
        <xMaxExtent value="630"/>
        
    
        <caretSlopeRise value="1"/>
        
    
        <caretSlopeRun value="0"/>
        
    
        <caretOffset value="0"/>
        
    
        <reserved0 value="0"/>
        
    
        <reserved1 value="0"/>
        
    
        <reserved2 value="0"/>
        
    
        <reserved3 value="0"/>
        
    
        <metricDataFormat value="0"/>
        
    
        <numberOfHMetrics value="466"/>
        
  
    </hhea>
    <CFF>
        <CFFFont>
            <FontBBox value="-1564 -288 630 1144"/>
        </CFFFont>
    </CFF>
    <CFF>
        <CFFFont>
            <Private>
                <nominalWidthX value="107"/>
            </Private>
        </CFFFont>
    </CFF>
</ttFont>