<?xml version="1.0" encoding="UTF-8"?>
<ttFont>
	<head>
		<xMin value="-75"/>
		<yMin value="-364"/>
		<xMax value="2119"/>
		<yMax value="1137"/>
	</head>
	<hhea>
		<advanceWidthMax value="2200"/>
		<xMaxExtent value="2119"/>
	</hhea>
	<CFF>
		<CFFFont>
			<FontBBox value="-75 -364 2119 1137"/>
			<Private>
				<nominalWidthX value="993"/>
			</Private>
		</CFFFont>
	</CFF>
</ttFont>