<ttFont>
    <head>
        <!-- Most of this table will be recalculated by the compiler -->
        <tableVersion value="1.0"/>
        <fontRevision value="1.002"/>
        <checkSumAdjustment value="0xe7c3331c"/>
        <magicNumber value="0x5f0f3cf5"/>
        <flags value="00000000 00000011"/>
        <unitsPerEm value="1000"/>
        <created value="Mon Sep 18 16:02:15 2017"/>
        <modified value="Mon Sep 18 16:02:15 2017"/>
        <xMin value="-382"/>
        <yMin value="-364"/>
        <xMax value="2119"/>
        <yMax value="1137"/>
        <macStyle value="00000000 00000010"/>
        <lowestRecPPEM value="3"/>
        <fontDirectionHint value="2"/>
        <indexToLocFormat value="0"/>
        <glyphDataFormat value="0"/>
    </head>
    <hhea>
        <tableVersion value="0x00010000"/>
        <ascent value="960"/>
        <descent value="-240"/>
        <lineGap value="0"/>
        <advanceWidthMax value="2200"/>
        <minLeftSideBearing value="-382"/>
        <minRightSideBearing value="-193"/>
        <xMaxExtent value="2119"/>
        <caretSlopeRise value="1000"/>
        <caretSlopeRun value="190"/>
        <caretOffset value="0"/>
        <reserved0 value="0"/>
        <reserved1 value="0"/>
        <reserved2 value="0"/>
        <reserved3 value="0"/>
        <metricDataFormat value="0"/>
        <numberOfHMetrics value="458"/>
    </hhea>
    <CFF>
        <CFFFont>
            <FontBBox value="-382 -364 2119 1137"/>
        </CFFFont>
    </CFF>
    <CFF>
        <CFFFont>
            <Private>
                <nominalWidthX value="1207"/>
            </Private>
        </CFFFont>
    </CFF>
</ttFont>