<ttFont>r
    <head>r
        
    r
        <!-- Most of this table will be recalculated by the compiler -->r
        
    r
        <tableVersion value="1.0"/>r
        
    r
        <fontRevision value="1.002"/>r
        
    
    r
        <magicNumber value="0x5f0f3cf5"/>r
        
    r
        <flags value="00000000 00000011"/>r
        
    r
        <unitsPerEm value="1000"/>r
        
    
    
    r
        <xMin value="-1787"/>r
        
    r
        <yMin value="-333"/>r
        
    r
        <xMax value="783"/>r
        
    r
        <yMax value="1282"/>r
        
    r
        <macStyle value="00000000 00000001"/>r
        
    r
        <lowestRecPPEM value="3"/>r
        
    r
        <fontDirectionHint value="2"/>r
        
    r
        <indexToLocFormat value="0"/>r
        
    r
        <glyphDataFormat value="0"/>r
        
  r
    </head>r
    <hhea>r
        
    r
        <tableVersion value="0x00010000"/>r
        
    r
        <ascent value="960"/>r
        
    r
        <descent value="-240"/>r
        
    r
        <lineGap value="0"/>r
        
    r
        <advanceWidthMax value="625"/>r
        
    r
        <minLeftSideBearing value="-1787"/>r
        
    r
        <minRightSideBearing value="-158"/>r
        
    r
        <xMaxExtent value="783"/>r
        
    r
        <caretSlopeRise value="1"/>r
        
    r
        <caretSlopeRun value="0"/>r
        
    r
        <caretOffset value="0"/>r
        
    r
        <reserved0 value="0"/>r
        
    r
        <reserved1 value="0"/>r
        
    r
        <reserved2 value="0"/>r
        
    r
        <reserved3 value="0"/>r
        
    r
        <metricDataFormat value="0"/>r
        
    r
        <numberOfHMetrics value="448"/>r
        
  r
    </hhea>r
    <CFF>r
        <CFFFont>r
            <FontBBox value="-1787 -333 783 1282"/>r
        </CFFFont>r
    </CFF>r
    <CFF>r
        <CFFFont>r
            <Private>r
                <nominalWidthX value="107"/>r
            </Private>r
        </CFFFont>r
    </CFF>r
</ttFont>
