<ttFont>
    <head>
        
    
        <!-- Most of this table will be recalculated by the compiler -->
        
    
        <tableVersion value="1.0"/>
        
    
        <fontRevision value="1.20099"/>
        
    
    
        <magicNumber value="0x5f0f3cf5"/>
        
    
        <flags value="00000000 00000011"/>
        
    
        <unitsPerEm value="1000"/>
        
    
    
    
        <xMin value="-1787"/>
        
    
        <yMin value="-395"/>
        
    
        <xMax value="863"/>
        
    
        <yMax value="1271"/>
        
    
        <macStyle value="00000000 00000010"/>
        
    
        <lowestRecPPEM value="3"/>
        
    
        <fontDirectionHint value="2"/>
        
    
        <indexToLocFormat value="0"/>
        
    
        <glyphDataFormat value="0"/>
        
  
    </head>
    <hhea>
        
    
        <tableVersion value="0x00010000"/>
        
    
        <ascent value="960"/>
        
    
        <descent value="-240"/>
        
    
        <lineGap value="0"/>
        
    
        <advanceWidthMax value="625"/>
        
    
        <minLeftSideBearing value="-1787"/>
        
    
        <minRightSideBearing value="-238"/>
        
    
        <xMaxExtent value="863"/>
        
    
        <caretSlopeRise value="1000"/>
        
    
        <caretSlopeRun value="194"/>
        
    
        <caretOffset value="0"/>
        
    
        <reserved0 value="0"/>
        
    
        <reserved1 value="0"/>
        
    
        <reserved2 value="0"/>
        
    
        <reserved3 value="0"/>
        
    
        <metricDataFormat value="0"/>
        
    
        <numberOfHMetrics value="483"/>
        
  
    </hhea>
    <CFF>
        <CFFFont>
            <FontBBox value="-1787 -395 863 1271"/>
        </CFFFont>
    </CFF>
    <CFF>
        <CFFFont>
            <Private>
                <nominalWidthX value="107"/>
            </Private>
        </CFFFont>
    </CFF>
</ttFont>